<footer>
    <div class="contianer--footer">
        <div class="container_redes-footer">
            <a href="https://www.linkedin.com/in/diego-arriola-b733612a0/" target="_blank">
                <img src="/public/images/icon-linkedin.png" alt="LinkedIn">
            </a>
            <a href="https://github.com/darriola12" target="_blank">
                <img src="/public/images/icon-github.png" alt="GitHub">
            </a>
            <a href="" target="_blank">
                <img src="/public/images/icon-instagram.png" alt="Instagram"">
            </a>
        </div>

        <div class="container_text--footer">
            <span>Copyright © |</span>
            <span>by</span>
            <span>Diego Arriola</span>
        </div>
    </div>
</footer>